<header>
  <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="index.html"><img src="asset/img/logo.png" alt=""></a>
        <span class="visible-xs visible-sm"><a id="menu-toggle" href="#">Menu</a></span>
      </div>

      <div class="navbar-collapse collapse pull-right">
        <ul class="nav navbar-nav">
          <li><a href="page-scholar.html">Hai, Baim</a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</header>
