<div id="sidebar-menu" class="side-menu">
  <div class="box-avatar text-center">
    <div class="box-image">
      <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
    </div><!-- end .box-image -->
    <div class="box-content">
      <h4>Ibrahim Almadani</h4>
      <p>Individu</p>
    </div><!-- end .box-content -->
  </div>
  <ul>
    <li><a href="page-donors-dashboard.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Dashboard</a></li>
    <li><a href="page-donors-profile.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Profil</a></li>
    <li><a href="page-donors-history.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Riwayat Donasi</a></li>
    <li><a href="page-donors-files.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Berkas Siswa</a></li>
    <li><a href="page-donors-paydonate.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Bayar Donasi</a></li>
    <li><a href="page-donors-announcement.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Pemberitahuan</a></li>
    <li><a href="page-donors-setting.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Pengaturan</a></li>
    <li><a href="#"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Logout</a></li>
  </ul>
</div><!-- end .side-menu -->
