<div class="side-menu">
  <div class="box-avatar text-center">
    <div class="box-image">
      <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
    </div><!-- end .box-image -->
    <div class="box-content">
      <h4>Ibrahim Almadani</h4>
      <p>Individu</p>
    </div><!-- end .box-content -->
  </div>
  <div id="dashmenu">

      <ul class="dash-menu">
        <li class="has-submenu">
          <a href="page-student-dashboard.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Informasi Profil</a>
          <ul class="sub-menu">
            <li><a href="page-student-identity.html">Identitas Diri</a></li>
            <li><a href="page-student-family.html">Latar Keluarga</a></li>
            <li><a href="page-student-education.html">Pendidikan Sekarang</a></li>
            <li><a href="page-student-educationhistory.html">Riwayat Pendidikan</a></li>
            <li><a href="page-student-awards.html">Penghargaan</a></li>
            <li><a href="page-student-monthlybudget.html">Pengeluaran Bulanan</a></li>
            <li><a href="page-student-about.html">Tentang Anda</a></li>
            <li><a href="page-student-files.html">Lampiran</a></li>
          </ul>
        </li>
        <li><a href="page-student-myreport.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Laporanku</a></li>
        <li><a href="page-student-donorstatus.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Status Donasi</a></li>
        <li><a href="page-student-transhistory.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Riwayat Transaksi</a></li>
        <li><a href="page-student-announcement.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Pemberitahuan</a></li>
        <li><a href="page-student-donorprofile.html"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Profil Donatur</a></li>
        <li><a href="#"><img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive"> Logout</a></li>
      </ul>

  </div>
</div><!-- end .side-menu -->
