<ol>
	<li>
		<div class="data-list">
			<div class="data-image">
				<img src="asset/img/6.jpg" alt="" class="img-responsive">
			</div><!-- end .data-image -->
			<div class="data-info">
				<div class="info">
					<p><strong>Rp. 500.000</strong></p>
					<p><strong>George Best</strong></p>
					<p>10 September 2017</p>
				</div><!-- end .info -->
			</div><!-- end .data-info -->
		</div><!-- end .data-list -->
	</li>
	<li>
		<div class="data-list">
			<div class="data-image">
				<img src="asset/img/6.jpg" alt="" class="img-responsive">
			</div><!-- end .data-image -->
			<div class="data-info">
				<div class="info">
					<p><strong>Rp. 500.000</strong></p>
					<p><strong>George Best</strong></p>
					<p>10 September 2017</p>
				</div><!-- end .info -->
			</div><!-- end .data-info -->
		</div><!-- end .data-list -->
	</li>
	<li>
		<div class="data-list">
			<div class="data-image">
				<img src="asset/img/6.jpg" alt="" class="img-responsive">
			</div><!-- end .data-image -->
			<div class="data-info">
				<div class="info">
					<p><strong>Rp. 500.000</strong></p>
					<p><strong>George Best</strong></p>
					<p>10 September 2017</p>
				</div><!-- end .info -->
			</div><!-- end .data-info -->
		</div><!-- end .data-list -->
	</li>
</ol>
