<div class="timeline">

	<!-- Line component -->
	<div class="line text-muted"></div>


	<article class="panel panel-danger panel-outline">
		<div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
		<div class="panel-body">
			<p><span><strong>2017</strong></span><span class="note">SMA 1 Bantul</span></p>
		</div>
	</article>

  <article class="panel note panel-danger panel-outline">
		<div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
		<div class="panel-body">
			<p><span class="year"><strong>2016</strong></span><span class="note">Juara III Karya Tulis Ilmiah</span></p>
		</div>
	</article>

  <article class="panel note panel-danger panel-outline">
		<div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
		<div class="panel-body">
			<p><span class="year"><strong>2015</strong></span><span class="note">Juara III Karya Tulis Ilmiah</span></p>
		</div>
	</article>

  <article class="panel panel-danger panel-outline">
		<div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
		<div class="panel-body">
			<p><span><strong>2014</strong></span><span class="note">SMA 1 Bantul</span></p>
		</div>
	</article>

  <article class="panel note panel-danger panel-outline">
		<div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
		<div class="panel-body">
			<p><span class="year"><strong>2013</strong></span><span class="note">Juara III Karya Tulis Ilmiah</span></p>
		</div>
	</article>

  <article class="panel note panel-danger panel-outline">
		<div class="panel-heading icon"><i class="glyphicon glyphicon-heart"></i></div>
		<div class="panel-body">
			<p><span class="year"><strong>2012</strong></span><span class="note">Juara III Karya Tulis Ilmiah</span></p>
		</div>
	</article>

</div>
<!-- /Timeline -->
