/* Base */

@mixin body-font {
  font-family: 'Josefin Sans', sans-serif;
}

@mixin heading-font {
  font-family: 'Playfair Display', serif;
}

/* base color */
$base-color: #65D7B2;
$secondary-color: #4D5B55;

/* dashboard color */
$dash-base: #69D7AB;
$dash-base-dark: #365C4D;
$dash-color: #406758;
$dash-second-color: #53806F;

/* used color */
$color-dark: #4E4E4E;
$color-white: #ffffff;
$color-grey: #E6E6E6;
$color-light-grey: #F8F8F8;
$color-teal: #C9D7D1;
