// dashboard.scss

// -----------------------------------------------------------------------------
// Common class
// -----------------------------------------------------------------------------
.dashboard {
	#content {
		background: $dash-color;
		&.container {
			width: 100%;
			padding: 0;
		}
	}

	.wrapper {
		background: $dash-color;
		.left-col {
			min-height: 100%;
	    padding: 0;
	    display: -ms-flexbox;
	    display: flex;
	    z-index: 1;
		}

		.right-col {
			padding: 10px 20px 20px;
			background: $color-light-grey;
			min-height: 100vh;
		}

		@media(max-width: 1024px){

			.left-col {
				width: 0;
				transition: all 0.5s ease-in-out;
				.side-menu {
					display: none;

				}
			}
			.right-col {
				width: 100%;
				transition: all 0.5s ease-in-out;
			}
			.left-col, .right-col {
				float: left;
			}
	    &.act {
				.left-col {
					width: 45%;
					transition: all 0.5s ease-in-out;
					.side-menu {
						display: block;
						transition: all 0.5s ease-in-out;
					}
				}
				.right-col {
					width: 55%;
					transition: all 0.5s ease-in-out;
				}
	  	}
		}

	}

	.navbar.navbar-default .navbar-collapse {
		padding-right: 15px;
	}
	.navbar.navbar-default .navbar-nav>li>a:last-child {
		padding: 0 40px;
	}
}
.page-heading {
	margin: 30px 0;
	font-weight: bold;
	font-size: 30px;
}
.side-link {
	a {
		display: inline-block;
	}
}

// -----------------------------------------------------------------------------
// Donors
// -----------------------------------------------------------------------------
/* ======================== Donors - side menu */
.side-menu {
	color: $color-white;
	width: 100%;

	ul {
		list-style: none;
		padding-left: 0;
		width: 100%;
		li {
			border-top: 1px solid $dash-second-color;
			border-bottom: 1px solid $dash-second-color;
			a {
				display: block;
				padding: 10px 10px 10px 40px;
				color: $color-white;
				img {
					width: 32px;
					height: 32px;
					margin-right: 10px;
					display: inline-block;
				}
				&:hover {
					color: $color-teal;
				}
				@media(max-width: 1024px){
					padding: 10px;
					text-align: center;
					img {
						display: block;
						margin: 0 auto 15px;
					}
				}
			}
			&:hover, &:active, &.active {
				background: $dash-base;
				a {
					color: $dash-base-dark;
				}
			}
		}
	}
}
.box-avatar {
	position: relative;
	margin: 50px 0;
	.box-image {
		height: 100px;
		width: 100px;
		overflow: hidden;
		border-radius: 100%;
		margin: 0 auto;
	}
	.box-content {
		margin-top: 30px;
		p {
			color: $base-color;
			margin-bottom: 0;
			font-weight: 300;
		}
	}
}

/* ======================== Donors - dashboard */
.box-thumb {
	background: $color-white;
	border: 1px solid $color-grey;
	border-radius: 20px;
	padding: 85px 20px;
	text-align: center;
	margin-bottom: 30px;
	img {
		margin: 0 auto 30px;
	}
	p {
		margin-bottom: 0;
		font-weight: bold;
		word-break: break-all;
	}
	&:hover {
		box-shadow: 0 0 11px rgba(33,33,33,.2);
	}
}
.inner-wrap {
	background: $color-white;
	border: 1px solid $color-grey;
	border-radius: 20px;
	padding: 30px;
}

/* ======================== Donors - profile */
.meta-bio {
	margin-bottom: 40px;
	height: 115px;
	.box-avatar {
		width: 15%;
		float: left;
		margin: 0;
		.box-image {
			margin: 0;
			width: 100%;
			span {
				padding-bottom: 90%;
				border: 4px solid $color-grey;
			}
		}
	}
	.box-content {
		margin-left: 170px;
		padding-top: 40px;
	}
}

/* ======================== Donors - history */
.data-list {
	border-bottom: 1px solid $color-grey;
	margin-bottom: 30px;
	padding-bottom: 30px;
	vertical-align: middle;
  display: inline-block;
	width: 100%;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.data-image {
		float: left;
		margin-right: 30px;
		img {
			width: 100px;
			height: 100px;
			border-radius: 100%;
		}
		&.image-small {
			flex-direction: column;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 100px;
			img {
				width: 50px;
				height: 50px;
			}
		}
	}
	.data-info {
		float: left;
		display: flex;
		flex-direction: column;
		height: 100px;
		justify-content: center;
		align-items: center;

		.btn-standard {
	    padding: 15px 25px;
		}
		p {
			font-weight: 300;
			margin-bottom: 0;
		}

		.info {
			//margin-bottom: 20px;
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.dash-history {
	.data-list {
		.data-info {
			height: auto;
			.info {
				margin-bottom: 10px;
			}
		}
	}
}
@media(max-width: 767px){
	.outer-history {
		.data-list {
			text-align: center;
			.data-image {
				width: 100%;
				margin-bottom: 20px;
				img {
					margin: 0 auto;
				}
			}
			.data-info {
				.info {
					margin-bottom: 20px;
					p {
						span:last-child {
							display: block;
						}
					}
				}
				.side-link {
					a {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

/* ======================== Donors - setting */
.box-setting {
	span {
		display: block;
		border-bottom: 1px solid $color-grey;
		text-align: center;
		padding: 40px 0;

		&:last-child {
			border-bottom: 0;
		}
	}
	a {
		width: 40%;
		display: block;
		text-align: center;
		margin: 0px auto;
		@media(max-width: 767px){
			width: 100%;
		}
	}
}
.setting-form {
	width: 50%;
	@media(max-width: 767px){
		width: 100%;
	}

	button {
		margin-top: 20px;
	}

	label {
		text-align: center;
		display: block;
	}
}

/* ======================== Donors - files */
.dash-files, .dash-profildonors {
	ol {
		padding-left: 0;
		li {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $color-grey;
			padding-left: 30px;
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
}
.timeline {
  position: relative;
  padding: 21px 0px 10px;
  margin-top: 4px;
  margin-bottom: 30px;
	.line {
		position: absolute;
    width: 2px;
    display: block;
    background: $color-grey;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
		&:before {
			top: -4px;
		}
		&:after {
			bottom: -4px;
		}
		&:before, &:after {
			content: '';
	    position: absolute;
	    left: -5px;
	    width: 12px;
	    height: 12px;
	    display: block;
	    border-radius: 50%;
	    background: $color-grey;
		}
	}
	.panel {
		position: relative;
    margin: 20px 0px 20px 70px;
    clear: both;
		&:nth-of-type(1) {
			margin-top: 10px
		}
		&.note {
			margin: 10px 0px 10px 70px;
		}
		&:before {
			position: absolute;
	    display: block;
	    top: 8px;
	    left: -24px;
	    content: '';
	    width: 0px;
	    height: 0px;
	    border: inherit;
	    border-width: 12px;
	    border-top-color: transparent;
	    border-bottom-color: transparent;
	    border-left-color: transparent;
		}
		.panel-heading {
			&.icon * {
				font-size: 20px;
				vertical-align: middle;
				line-height: 40px;
			}
			&.icon {
				background: $color-grey;
				position: absolute;
		    left: -60px;
		    display: block;
		    width: 40px;
		    height: 40px;
		    padding: 0px;
		    border-radius: 50%;
		    text-align: center;
		    float: left;
			}
		}
	}
	.panel-outline {
		border-color: transparent;
    background: transparent;
    box-shadow: none;
		.panel-body {
			padding: 10px 0px;
			p {
				margin-bottom: 0;
			}
			.note {
				margin-left: 40px;
			}
			.year {
				opacity: .5
			}
		}
		.panel-heading:not(.icon), .panel-footer{
			display: none;
		}
	}
}

/* ======================== Donors - pay donation */
.outer-paydonate {
	.to-all {
		margin-bottom: 30px;
		label {
			margin-top: 0;
			float: left;
		}
		p {
			float: left;
			line-height: 40px;
			margin-bottom: 0;
			font-weight: 300;
		}
		&:after {
			@include after;
		}
	}
	.chck {
		position: relative;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: top;
		margin: 10px;
		input[type="checkbox"]:after {
			content: "";
			display: inline-block;
			width: 38px;
			height: 38px;
			background: url('../img/check.png') no-repeat;
			position: absolute;
			top: 30%;
			transform: translate(-50%, -50%);
			left: 50%;
		}
		input[type="checkbox"]:checked:after {
			background: url('../img/check-hover.png') no-repeat;
			outline: 0;
		}
	}

	input[type="checkbox"] {
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		&:focus {
			outline: 0;
		}
	}
}
.box-donate {
	border: 1px solid $color-grey;
	min-height: 260px;
	position: relative;
	margin-bottom: 40px;

	&:after {
		@include after;
	}

	.data-list {
		width: auto;
		border-bottom: 0;
		padding: 20px;

		.data-info {
			height: auto;
			.info {
				p {
					&:nth-of-type(2) {
						margin-top: 30px;
						margin-bottom: 10px;
					}
				}
				a {
					color: $base-color;
					&:hover {
						color: $dash-color;
					}
				}
			}
		}
	}

	.donate-action {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		float: right;
		> div {
			border-left: 1px solid $color-grey;
			border-bottom: 1px solid $color-grey;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			//padding: 20px;
			width: 200px;
			height: 100px;
			&:nth-of-type(2){
				border-bottom: 0;
			}
			i {
				line-height: 0;
				font-size: 38px;
				color: red;
			}
		}
	}

	.donate-note {
		position: absolute;
		width: 100%;
		bottom: 0;

		.form-control, .input-group-addon {
			border-radius: 0;
			border: 0;
		}

		.input-group-addon {
			background: $base-color;
			color: $color-white;
			padding: 6px 22px;
			i {
				font-size: 20px;
			}
		}

		.input-group {
			.form-control {
				background: none;
				border-top: 1px solid $color-grey;
				box-shadow: none;
			}
		}
	}
}
// -----------------------------------------------------------------------------
// Student
// -----------------------------------------------------------------------------
/* ======================== Student - menus */
#dashmenu {
	ul {
		li {
			position: relative;
			.sub-menu {
        max-height: 0;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
				li {
					a {
						padding-left: 85px;
						font-weight: 300;
					}
				}
      }
			&.shrink {
				> .sub-menu {
					max-height: 200em;
					-webkit-transition-duration: 1s;
					transition-duration: 1s;

					a {
						 padding-left: 85px;
					}
				}
			}
			i {
				-webkit-transform: translate(0);
				transform: translate(0);
				transition: all .5s;
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 15px 0 0;
				line-height: 60px;
				color: $color-white;
				cursor: pointer;
				height: 52px;
			}
			&.has-submenu {
				&:hover, &:focus, &:active {
					background: #69d7ab;
				}
			}
		}
	}
}

/* ======================== Student - files attachment */
.stufiles-form, .awards-form, .outer-myreport {
	.input-group {
		.form-control {
			width: 95%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		.btn {
			width: 60px;
			height: 60px;
			border-radius: 10px;
			background: $base-color;
			border: $base-color;
			i {
				line-height: 55px;
			}
		}
	}
}

/* ======================== Student - my report */
.outer-myreport {
	table {
		@media(min-width: 768px){
			table-layout: fixed;
			text-align: center;

			th {
				text-align: center;
			}

			td {
				padding: 15px 0!important;
			}
		}
	}
}

/* ======================== Student - donor status */
.box-chart {
	margin-bottom: 30px;
	.chart {
		position: relative;
		width: 300px;
		height: 300px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
		margin: 0 auto;
		span {
			background: $color-light-grey;
			border-radius: 100%;
			width: 200px;
			height: 200px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			line-height: 200px;
			font-size: 2em;
			border: 1px solid $color-grey;
		}
		@media(max-width: 767px){
			width: 150px;
			height: 150px;
			span {
				width: 110px;
				height: 110px;
				line-height: 110px;
			}
			canvas {
				width: 150px!important;
				height: 150px!important;
			}
		}
	}
}

.box-person {
	margin-top: 50px;
	padding-top: 30px;
	border-top: 1px solid $color-grey;
}
.status-number {
	display: flex;
  flex-direction: column;
	border: 1px solid $base-color;
	width: 60%;
	text-align: center;
	.info {
		padding: 20px;
		border-bottom: 1px solid $base-color;
		p {
			font-weight: 300;
		}
		&:last-child {
			border-bottom: 0;
		}
	}
	@media(max-width: 767px){
		width: 100%;
	}
}

/* ======================== Student - donor dash */
.outer-studash {

	.box-thumb {
		text-align: left;
		padding: 20px;
		p {
			font-weight: 300;
		}
		img {
			margin-bottom: 0;
		}
	}
	.panel {
		margin-bottom: 0;
		border: 0;
		box-shadow: none;
	}
	.panel-heading {
		min-height: 34px;
		border-bottom: 1px solid $color-grey;
		padding-bottom: 15px;
		span {
			margin-top: -28px;
			width: 32px;
			height: 32px;
			background: $base-color;
			color: $color-white;
			border-radius: 50%;
			display: table;
			i {
				font-size: 14px;
		    line-height: 5px;
		    display: table-cell;
		    vertical-align: middle;
		    text-align: center;
			}
		}
	}
	.panel-title {
		color: $color-dark;
		font-size: 20px;
		font-weight: bold;
	}

	.panel-body {
		padding: 20px 0;
		max-height: 148px;
		overflow-x: auto;
	}
}
