/* Layout */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include body-font;
	font-size: 18px;
	line-height: 1.5;
	font-weight: normal;
	background: $secondary-color;
	color: $color-dark;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-size: 62.5%;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  margin-top: 0;
	@include heading-font;
}

h3, h4, h5, h6 {
  margin-top: 0;
	@include body-font;
}

a {
	color: black;
	&:hover {
		color: $base-color;
		text-decoration: none;
	}
}

@-ms-viewport {
  width: device-width;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.white-popup {
  position: relative;
  background: $color-white;
  padding: 25px;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
}

.mfp-bg {
	background: rgba(255,255,255, 2);
}
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* ======================== Navbar */
.navbar {
	margin-bottom: 0;

	@media(max-width: 767px){
		.navbar-brand {
			> img {
				height: 25px;
			}
		}
	}

	&.navbar-default {
		background: $color-white;
		border-radius: 0;

		.navbar-collapse {
			padding-right: 0;
		}

		.navbar-nav {
			> li {
				> a {
					line-height: 80px;
					padding: 0 40px;
					&:hover, &:focus {
						color: $base-color;
					}

					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
}

/* ======================== Input form */
.form-control {
	height: 60px;
	border-radius: 20px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: 300;
	&:focus {
		border-color: $base-color;
		outline: 0;
		box-shadow: none;
	}
}

textarea {
	&.form-control {
		padding: 10px;
	}
}

.dashboard {
	.form-group {
		label {
			font-weight: 300;
		}
	}
	.form-control {
		border-radius: 10px;
		background: $color-light-grey;
	}
}
/* ======================== Button */
.btn-standard {
	background: $base-color;
	color: $color-white;


	&:hover, &:focus {
		background: $secondary-color;
		color: $color-white;
		cursor: pointer;
	}

	&.btn-common {
		padding: 15px 45px;
		border-radius: 30px;
		font-size: inherit;
	}
	&.btn-full {
		width: 100%;
		padding: 20px;
		border-radius: 50px;
		font-size: inherit;
	}
}

.btn-reverse {
	background: $secondary-color;
	color: $color-white;


	&:hover, &:focus {
		background: $base-color;
		color: $color-white;
		cursor: pointer;
	}

	&.btn-common {
		padding: 15px 45px;
		border-radius: 30px;
		font-size: inherit;
	}
	&.btn-full {
		width: 100%;
		padding: 20px;
		border-radius: 50px;
		font-size: inherit;
	}
}

.btn-border {
	background: transparent;
	color: $base-color;
	border: 2px solid $base-color;
	padding: 15px 45px;
	border-radius: 30px;
	font-size: inherit;

	&:hover, &:focus {
		background: $secondary-color;
		border: 2px solid $secondary-color;
		color: $color-white;
		cursor: pointer;
	}

	&.btn-full {
		width: 100%;
		padding: 20px;
		border-radius: 50px;
	}
}

/* ======================== Margin */
.margin-topmedium {
	margin-top: 30px;
}
.margin-medium {
	margin: 30px 0;
}
/* ======================== Clear */
@mixin after($display: block, $content: "", $clear: both) {
  content: $content;
  display: $display;
  clear: $clear;
}

/* ======================== Image Mixin */
@mixin imgbase($position: absolute, $height: 100%, $width: 100%, $top: 50%, $left: 50%, $transform: translate(-50%, -50%), $max-width: inherit!important, $object-fit: cover){
  position: $position;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
  transform: $transform;
  -webkit-transform: $transform;
  -ms-transform: $transform;
  max-width: $max-width;
  object-fit: $object-fit;
}

@media (min-width: 1200px) {
  .container {
    width: 940px;
   }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
