// themes.scss

// -----------------------------------------------------------------------------
// Common class
// -----------------------------------------------------------------------------
#content {
	background: $color-white;
  min-height: calc(100vh - 140px - 260px) !important;

	&.page {
		&.bg-grey {
			background: $color-light-grey;
		}
	}
}
.upper {
	background: $base-color;
	color: $color-dark;
	padding: 5px 0;
	.top-link {
		a {
			padding: 0 15px;
			border-right: 1px solid $color-dark;
			color: $color-dark;
			&:hover, &:focus {
				color: $color-white;
			}
			&:last-child {
				border-right: 0;
				padding-right: 0;
			}
		}
	}
}
.page-inner {
	padding: 50px 0;
}
.pagination {
	li {
		a {
			margin: 0 5px;
			border-radius: 5px;
			color: $color-dark;
			&:hover, &:focus, &:active, &.active {
				background: $base-color;
				color: $color-white;
				border: 1px solid $base-color;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Homepage
// -----------------------------------------------------------------------------
.heading-section {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 30px;
	text-align: center;
}

.home-slider {
	.info-number {
		position: absolute;
		bottom: -30px;
		width: 100%;

		@media(max-width: 767px){
			position: static;
			padding-top: 40px;
		}

		.inner {
			padding:50px 30px;
			background: $color-white;
			border-radius: 20px;
			border: 1px solid $color-grey;

			div[class*="col-"] {
				border-right: 1px solid $color-grey;

				&:last-child {
					border-right: 0;
				}

				@media(max-width: 767px){
					border-right: 0;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid $color-grey;
					&:last-child {
						border-bottom: 0;
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}

		h3 {
			color: $base-color;
			@include body-font;
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 0;
		}

		p {
			@include heading-font;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 0;
		}
	}
}
.home-download {
	background: $base-color;
	color: $color-white;
	padding: 50px 0;

	h2 {
		@include body-font;
		font-weight: 600;
		margin-bottom: 20px;
	}
	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 20px;
	}
	@media(max-width: 767px){
		h2 {
			font-size: 22px;
		}
		p {
			font-size: 14px;
		}
	}

	.applogo {
		list-style: none;
		padding-left: 0;
		width: 80%;
		margin: 0 auto;
		li {
			width: 50%;
			float: left;
			img {
				width: 90%;
				margin: 0 auto;
			}
		}
		&:after {
			@include after;
		}
	}
}
.home-student {
	padding: 70px 0 50px;
}
.home-news {
	background: $color-light-grey;
	padding: 50px 0;
}

.owl-carousel {
	position: relative;
	height: 100%;

	.owl-nav {
		position: absolute;
		top: 40%;
		left: 20px;
		right: 20px;
		.owl-prev {
			float: left;
		}
		.owl-next {
			float: right;
		}
		i {
			color: $color-white;
			font-size: 40px;
		}
	}
}

/* ======================== Main Slider */
#slider-main {
	&.owl-carousel {
		.image-slide {
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: calc(100vh - 113px);
			overflow: hidden;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.owl-slide {
			&:before {
				position: absolute;
				background: rgba(77, 91, 85,.6);
				display: block;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
	}
}
.text-outer {
	position: absolute;
	top: 50%;
	color: #fff;
	text-align: center;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	.inner-text {
		h2 {
			font-size: 72px;
			line-height: 78px;
			letter-spacing: 0px;
			margin-bottom: 18px;
			font-weight: normal;
		}
		p {
			font-size: 20px;
		}
		@media(max-width: 767px){
			h2 {
				font-size: 32px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Pages
// -----------------------------------------------------------------------------

/* ======================== Student */
.intro-page {
	padding: 70px 0;
	background: $color-light-grey;

	p {
		width: 60%;
		font-size: 18px;
		font-weight: 300;
		margin: 0 auto;
	}
}
.student-list {
	padding: 50px 0;
}

.student-info, .student-infofiles {
	.box-info {
		width: 90%;
	}
	.info-bio {
		.bio-meta {
			margin-left: 45px;
			h2 {
				font-weight: bold;
				margin-bottom: 30px;
			}
		}
		.bio-desc {
			padding: 30px 0;
			margin-left: 45px;
			h4 {
				font-weight: bold;
			}
			p {
				font-weight: 300;
			}
		}
		.bio-note {
			ul {
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
				li {
					padding: 25px 0;
					border-top: 1px solid $color-grey;
					.badges {
						width: 40px;
						display: inline-block;
					}
					.note {
						font-weight: bold;
					}
				}
			}
		}
		.bio-progress {
			padding: 20px 0 40px;
			border-top: 1px solid $color-grey;

			h4, .number, .progress {
				margin-left: 45px;
			}

			h4 {
				font-weight: bold;
			}

			.number {
				ul {
					list-style: none;
					padding-left: 0;
					li {
						width: 33.33%;
						float: left;
						span {
							text-align: center;
							display: block;
						}
						.title {
							font-weight: bold;
							color: #4998FF;
						}
					}
					&:after {
						@include after;
					}
				}
			}
		}
	}
}

.student-info {
	margin-top: -100px;
	.info-bio {
		margin-top: 50px;
	}
}

.progress {
	height: 16px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
	background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
	background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
	background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color:  $base-color;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.progress-bar-success {
	background-color: $base-color;
	background-image: none;
}

.student-tab, .student-tabfiles {
	margin-bottom: 40px;
	.tab-pane {
		padding: 15px 0;
	}
	.nav-tabs {
		text-align: center;
		border-bottom: 1px solid $color-grey;
		> li {
			display: inline-block;
			float: none;
			width: auto;
			border: 1px solid $color-grey;
			&:focus, &:active {
				outline: 0;
			}
			@media(max-width: 767px){
				width: 100%;
			}
			> a {
				font-size: 22px;
				padding: 15px 40px;
				margin-right: 0;
				border-radius: 0;
				color: $color-dark;
				background: transparent;
				border: 0;
				font-weight: bold;
				&:after {
					content: "";
					background: $base-color;
					height: 3px;
					position: absolute;
					width: 100%;
					left: 0px;
					bottom: -1px;
					transition: all 250ms ease 0s;
					transform: scale(0);
				}
			}

			&.active, &:hover {
				> a {
					color: $base-color;
					&:after {
						transform: scale(1);
					}
					&:hover, &:focus {
						border: 0;
					}
				}
			}
		}
	}
	.tab-content {
		.box-tab {
			border-bottom: 1px solid $color-grey;

			ul {
				list-style: none;
				padding-left: 0;
				li {
					font-size: 18px;
					margin: 20px 0px;
					span {
						display: block;
						font-weight: 300;
					}
					.title {
						font-weight: bold;
					}
				}
				&:after {
					@include after;
				}
			}
			&.double {
				ul {
					li {
						width: 50%;
						float: left;
					}
				}
			}
		}
	}
}

.student-related {
	padding: 30px 0;
	h3 {
		font-weight: bold;
	}
}
.content-search {
	border: 1px solid $color-grey;
	padding: 20px;
	border-radius: 20px;
	margin-top: -40px;
	background: $color-white;
	h3 {
		margin-bottom: 0;
		line-height: 34px;
	}
	div[class*="col-"] {
		border-right: 1px solid $color-grey;

		&:last-child {
			border-right: 0;
		}
	}
	select, input {
		width: 100%;
		height: 34px;
		border: 0;
		&:focus {
			border: 0;
			outline: 0;
		}
	}

}

/* ======================== Register - Login */
.formrg-register, .formrg-login {
	width: 400px;
	@media(max-width: 767px){
		width: 100%;
	}

	.register-type {
		margin-bottom: 30px;
		p {
			margin: 15px 0;
			font-size: 18px;
			font-weight: 300;
		}
		a {
			display: block;
		}
	}

	button {
		margin-top: 20px;
	}

	.frm-link {
		display: block;
		margin: 20px 0;
		text-align: center;
		font-size: 18px;
		font-weight: 300;
	}
}

/* ======================== Box-list */
.box-list {
	padding: 20px;
	border: 1px solid $color-grey;
	border-radius: 20px;
	background: $color-white;
	margin-bottom: 30px;
	transition: box-shadow .3s;

	&:hover {
		box-shadow: 0 0 11px rgba(33,33,33,.2);
	}

	&.post-student {
		position: relative;
		margin-bottom: 50px;

		.box-image {
			width: 75%;
	    margin: 0 auto;

			span {
				border-radius: 100%;
	    	padding-bottom: 100%;
				position: relative;
		    height: 0;
		    overflow: hidden;
		    display: block;
				z-index: 1;

				img {
					@include imgbase;
				}
			}
		}

		.box-content {
			margin-top: 20px;

			h4 {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 5px;
			}

			.sub {
				font-size: 18px;
				font-weight: 300;
			}

			.intro {
				margin: 25px 0;
				font-weight: 300;
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
	&.post-news {
		.box-image {
			width: 30%;
			float: left;
			img {
				border-radius: 10px;
			}
		}
		.box-content {
			width: 70%;
			float: left;
			padding: 15px 0 15px 20px;

			.excerpt {
				a {
					width: 40px;
					height: 40px;
					background: $base-color;
					line-height: 40px;
					text-align: center;
					border-radius: 50%;
					color: $color-white;
				}
				p {
					width: 80%;
				}
				&:after {
					@include after;
				}
			}

			h4 {
				font-size: 18px;
				font-weight: 600;
			}

			p {
				font-weight: 300;
		    font-size: 18px;
		    margin-bottom: 0;
		    line-height: 18px;
			}
		}
	}
	&.post-blog {
		margin-bottom: 50px;
		img {
			border-radius: 10px;
		}
		h4 {
			margin: 20px 0;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
			@media(min-width: 768px){
				width: 250px;
			}
			@media(min-width: 767px){
				width: 100%;
			}
		}
		.sub {
			font-weight: 300;
			font-size: 16px;
		}
		.intro {
			font-weight: 300;
		}
	}
	&:after {
		@include after;
	}
}
.detail-link {
	padding: 10px 20px;
	background: $base-color;
	color: $color-white;
	position: absolute;
	right: 0;
	left: 0;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	text-align: center;
	font-size: 16px;
	&:hover, &:focus {
		background: $secondary-color;
		color: $color-white;
	}
}
.box-link {
	margin: 15px 0;
	text-align: center;

	a {
		display: inline-block;
	}
	.detail-link {
		position: relative;
		text-align: center;
		display: block;
	}
}

/* ======================== Blog */
.blog-list {
	padding: 50px 0;
}
.blog-single {
	.blog-hero {
		span {
			position: relative;
			height: 0;
			display: block;
			overflow: hidden;
	    padding-bottom: calc(100vh - 113px);
			img {
				@include imgbase;
			}
		}
	}
	.blog-content {
		margin-bottom: 30px;
		h1,
		.blog-meta {
			text-align: center;
		}

		h1 {
			margin-bottom: 20px;
			font-weight: bold;
		}

		.blog-meta {
			display: block;
			margin-bottom: 30px;
			font-weight: 300;
			font-size: 18px;
		}

		.content {
			p {
				font-weight: 300;
				font-size: 18px;
			}
		}
	}
	.blog-related {
		h3 {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 30px;
		}
	}
}

/* ======================== Privacy */
.box-static {
	padding: 20px;
	border: 1px solid $color-grey;
	border-radius: 20px;
	ol {
		li {
			font-size: 18px;
			font-weight: 300;
			margin-bottom: 20px;
			padding-left: 20px;
		}
	}
}

/* ======================== FAQ */
.panel-heading {
  padding: 0;
	border:0;

	a {
		&:before {
			font-family: 'Glyphicons Halflings';
			content: "\e114";
			float: right;
			transition: all 0.5s;
		}
	}

	&.active {
		a {
			&:before {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
}
.panel-title > a,
.panel-title > a:active{
	display:block;
	padding: 30px;
  color: $base-color;
  font-size: 18px;
  font-weight: bold;
	letter-spacing: 1px;
  word-spacing: 3px;
	text-decoration: none;
}

.panel-title {
	background: $color-white;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 0;
}
.panel-group .panel {
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 30px;
}
.panel-body {
	padding: 30px;

	p {
		font-weight: 300;
	}
}

/* ======================== Scholar */
.content-static {
	h2 {
		@include body-font;
		text-align: center;
		font-weight: 700;
		margin-bottom: 40px;
	}
}

.box-info {
	width: 80%;
	margin: 0 auto;
	span {
		border-radius: 100%;
		padding-bottom: 100%;
		position: relative;
		height: 0;
		overflow: hidden;
		display: block;
		border: 2px solid $color-grey;

		img {
			@include imgbase;
		}
	}
	p {
		margin: 20px 0;
		font-weight: bold;
	}
}

/* ======================== Contact */
.page {
	&.contact {
		.contact-image {
			img {
				width: 80%;
				margin: 0 auto;
			}
		}

		.call {
			@include body-font;
			font-size: 32px;
			margin-bottom: 20px;
			font-weight: bold;
		}
	}
}



.box-step {
	img {
		width: 80%;
		margin: 0 auto;
	}
	p {
		margin: 20px 0;
		font-weight: bold;
	}
}

/* ======================== Newsletter */
#form-newsletter {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
	border-radius: 20px;
	border: 1px solid $color-grey;

	p {
		font-weight: 300;
		text-align: center;
		margin: 20px 0 30px;
	}

	.input-group {
		margin-bottom: 25px;

		.input-group-btn {
			border: 1px solid #ccc;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-left: 0;
		}
	}

	.mfp-close {
		display: none;
	}

	button {
		height: 58px;
		background: transparent;
		border: 0;
		&:focus {
			outline: 0;
		}
		i {
			width: 40px;
			height: 40px;
			background: $base-color;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			color: $color-white;
		}
	}

	.form-control {
		padding: 15px;
		margin-bottom: 0;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 0;

		&:focus + span {
			border: 1px solid $base-color;
			border-left: 0;
		}
	}
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
footer {
	padding: 50px 0;
	color: $color-teal;

	ul {
		list-style: none;
		padding-left: 0;

		li {
			a {
				font-weight: 300;
				font-size: 16px;
				color: $color-teal;
				&:focus {
					color: $base-color;
					text-decoration: none;
					outline: 0;
				}
			}
		}
	}

	.footer-box {
		h4 {
			font-weight: 600;
			margin-bottom: 30px;
		}
		@media(max-width: 767px){
			margin-bottom: 40px;
			h4 {
				margin-bottom: 10px;
			}
		}
	}
}
