<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box-list post-news">
      <div class="box-image">
        <img src="asset/img/6.jpg" alt="" class="img-responsive">
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Elit Dolor Sit Amet</h4>
        <div class="excerpt">
          <p class="pull-left">Lorem ipsum dolor sit amet, consectetur</p>
          <a href="page-news-single.html" class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div><!-- end .excerpt -->
      </div><!-- end .box-content -->
    </div><!-- end .box-list post-news -->
  </div><!-- end col-md-6 col-sm-6 col-xs-12 -->

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box-list post-news">
      <div class="box-image">
        <img src="asset/img/6.jpg" alt="" class="img-responsive">
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Elit Dolor Sit Amet</h4>
        <div class="excerpt">
          <p class="pull-left">Lorem ipsum dolor sit amet, consectetur</p>
          <a href="page-news-single.html" class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div><!-- end .excerpt -->
      </div><!-- end .box-content -->
    </div><!-- end .box-list post-news -->
  </div><!-- end col-md-6 col-sm-6 col-xs-12 -->

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box-list post-news">
      <div class="box-image">
        <img src="asset/img/6.jpg" alt="" class="img-responsive">
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Elit Dolor Sit Amet</h4>
        <div class="excerpt">
          <p class="pull-left">Lorem ipsum dolor sit amet, consectetur</p>
          <a href="page-news-single.html" class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div><!-- end .excerpt -->
      </div><!-- end .box-content -->
    </div><!-- end .box-list post-news -->
  </div><!-- end col-md-6 col-sm-6 col-xs-12 -->

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box-list post-news">
      <div class="box-image">
        <img src="asset/img/6.jpg" alt="" class="img-responsive">
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Elit Dolor Sit Amet</h4>
        <div class="excerpt">
          <p class="pull-left">Lorem ipsum dolor sit amet, consectetur</p>
          <a href="page-news-single.html" class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div><!-- end .excerpt -->
      </div><!-- end .box-content -->
    </div><!-- end .box-list post-news -->
  </div><!-- end col-md-6 col-sm-6 col-xs-12 -->

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box-list post-news">
      <div class="box-image">
        <img src="asset/img/6.jpg" alt="" class="img-responsive">
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Elit Dolor Sit Amet</h4>
        <div class="excerpt">
          <p class="pull-left">Lorem ipsum dolor sit amet, consectetur</p>
          <a href="page-news-single.html" class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div><!-- end .excerpt -->
      </div><!-- end .box-content -->
    </div><!-- end .box-list post-news -->
  </div><!-- end col-md-6 col-sm-6 col-xs-12 -->

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="box-list post-news">
      <div class="box-image">
        <img src="asset/img/6.jpg" alt="" class="img-responsive">
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Elit Dolor Sit Amet</h4>
        <div class="excerpt">
          <p class="pull-left">Lorem ipsum dolor sit amet, consectetur</p>
          <a href="page-news-single.html" class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div><!-- end .excerpt -->
      </div><!-- end .box-content -->
    </div><!-- end .box-list post-news -->
  </div><!-- end col-md-6 col-sm-6 col-xs-12 -->
</div><!-- end .row -->
