<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-box">
          <h4>Company</h4>
          <ul>
            <li><a href="page-register.html">Register/Login</a></li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="page-contact.html">Contact Us</a></li>
            <li><a href="page-blog.html">Blog</a></li>
          </ul>
        </div><!-- end .footer-box -->
      </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-box">
          <h4>How it Works</h4>
          <ul>
            <li><a href="page-donate.html">How it Donate</a></li>
            <li><a href="page-scholar.html">How to get the Scholarship</a></li>
            <li><a href="page-liststudent.html">List of Student</a></li>
          </ul>
        </div><!-- end .footer-box -->
      </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-box">
          <h4>Member</h4>
          <ul>
            <li><a href="#form-newsletter" class="form-newsletter">Newsletter Subscription</a></li>
            <li><a href="page-faq.html">FAQ</a></li>
            <li><a href="page-terms.html">Terms of Use</a></li>
            <li><a href="page-policy.html">Privacy Policy</a></li>
          </ul>
        </div><!-- end .footer-box -->
      </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
    </div><!-- end .row -->
  </div><!-- end .container -->
</footer>

<form id="form-newsletter" class="white-popup mfp-hide">
  <p>Send your email to get newsletter every month</p>
  <div class="input-group">
    <input type="email" class="form-control" id="" placeholder="Email">
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</form>
