<header>
  <div class="upper">
    <div class="container">
      <div class="pull-left"></div>
      <div class="top-link pull-right">
        <a href="page-login.html">Login</a>
        <a href="page-register.html">Register</a>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="index.html"><img src="asset/img/logo.png" alt=""></a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="page-liststudent.html">Explore Student</a></li>
          <li><a href="page-donate.html">Donate Now</a></li>
          <li><a href="page-scholar.html">Get The Scholarship</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>
