<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing Lorem ipsum dolor</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="box-list post-blog text-center">
      <div class="box-image">
        <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
      </div><!-- end .box-image -->
      <div class="box-content">
        <h4>Consectetur Adipiscing</h4>
        <span class="sub">29 Oct 2017</span>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div><!-- end .box-content -->
      <a href="page-blog-single.html" class="detail-link">Details</a>
    </div><!-- end .box-list -->
  </div><!-- end col-md-4 col-sm-4 col-xs-12 -->
</div><!-- end .row -->
