{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="page bg-grey">
    <div class="page-inner">
      <div class="container">
        <h2 class="heading-section">Register</h2>
        <div class="formrg-register center-block">

            <div class="register-type text-center">
              <p>Daftarkan diri anda sebagai</p>
              <a href="#" class="btn-standard btn-full">Donatur</a>
              <p>atau</p>
              <a href="#" class="btn-standard btn-full">Siswa</a>
            </div><!-- end .register-type -->

            <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Nama Lengkap">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="" placeholder="Ulangi Password">
              </div>
              <button type="submit" class="btn btn-standard btn-full">Register</button>
              <span class="frm-link"><a href="page-login.html">Sudah Punya Akun? Login Disini</a></span>
            </form>
          </div><!-- end .center-block -->
      </div><!-- end .container -->
    </div><!-- end .page-inner -->

  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
