{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="page bg-grey">
    <div class="page-inner">

      <div class="container">
        <h2 class="heading-section">Login</h2>

          <div class="formrg-login center-block">
            <form action="#">
              <div class="form-group">
                <input type="email" class="form-control" id="" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-standard btn-full">Login</button>
              <span class="frm-link"><a href="#">Forgot your password?</a></span>
            </form>
          </div><!-- end .center-block -->

      </div><!-- end .container -->
    </div>
  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
