{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="page">

    <div class="intro-page text-center">
      <div class="container">
        <h2 class="heading-section">How it Works?</h2>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div><!-- end .container -->
    </div><!-- end .intro-page -->


    <div class="page-inner">
      <div class="container">
        <div class="content-static text-center">
          <h2>How to Get the Scholarship?</h2>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="box-step">
                <img src="asset/img/scholar-siswa.png" alt="" class="img-responsive">
                <p>Daftar sebagai siswa</p>
              </div>
            </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="box-step">
                <img src="asset/img/scholar-isiprofil.png" alt="" class="img-responsive">
                <p>Isi profil lengkapmu</p>
              </div>
            </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="box-step">
                <img src="asset/img/scholar-kirimprofil.png" alt="" class="img-responsive">
                <p>Kirim profilmu ke donatur!</p>
              </div>
            </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
          </div><!-- end .row -->

          <div class="box-link">
            <a href="#" class="btn-standard btn-common">Start</a>
          </div><!-- end .box-link -->

        </div><!-- end .content-static -->
      </div><!-- end .container -->
    </div><!-- end .page-inner -->
  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
