{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="page">

    <div class="intro-page text-center"></div><!-- end .intro-page -->

    <div class="student-info">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="box-info">
              <span><img src="asset/img/6.jpg" alt="" class="img-responsive"></span>
            </div><!-- end .box-info -->
          </div><!-- end .col-md-3 col-sm-3 -->
          <div class="col-md-9 col-sm-9">
            <div class="info-bio">
              <div class="bio-meta">
                <h2>Ibrahim Almadhani</h2>
                <p>SMA 1 Bantul</p>
              </div><!-- end .bio-meta -->

              <div class="bio-desc">
                <h4>Tentang Siswa</h4>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
              </div><!-- end .bio-desc -->

              <div class="bio-note">
                <ul>
                  <li>
                    <span class="badges"><img src="asset/img/placeholder.png" alt=""></span>
                    <span class="note">Bantul, Yogyakarta</span>
                  </li>
                  <li>
                    <span class="badges"><img src="asset/img/premium-badge.png" alt=""></span>
                    <span class="note">Program Unggulan</span>
                  </li>
                </ul>
              </div><!-- end .bio-note -->

              <div class="bio-progress">
                <h4>Progress Beasiswa</h4>
                <div class="progress">
                  <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="number">
                  <ul>
                    <li>
                      <span class="title">49%</span>
                      <span class="info">Terdanai</span>
                    </li>
                    <li>
                      <span class="title">Rp 2.500.000</span>
                      <span class="info">Dana Terkumpul</span>
                    </li>
                    <li>
                      <span class="title">11</span>
                      <span class="info">Donatur</span>
                    </li>
                  </ul>
                </div>
              </div><!-- end .bio-progress -->
            </div><!-- end .info-bio -->
          </div><!-- end .col-md-9 col-sm-9 -->
        </div><!-- end .row -->
      </div><!-- end .container -->
    </div><!-- end .student-info -->

    <div class="student-tab">
      <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tab-infoumum" aria-controls="tab-infoumum" role="tab" data-toggle="tab"><span>Informasi Umum</span></a></li>
          <li role="presentation"><a href="#tab-akademisi" aria-controls="tab-akademisi" role="tab" data-toggle="tab"><span>Akademisi</span></a></li>
          <li role="presentation"><a href="#tab-donatur" aria-controls="tab-donatur" role="tab" data-toggle="tab"><span>Donatur</span></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab-infoumum">
            <div class="box-tab double">
              <ul>
                <li>
                  <span class="title">Kelamin</span>
                  <span class="info">Laki-laki</span>
                </li>
                <li>
                  <span class="title">No. Telpon</span>
                  <span class="info">+62 856 0001 0002</span>
                </li>
                <li>
                  <span class="title">Umur</span>
                  <span class="info">17</span>
                </li>
                <li>
                  <span class="title">Email</span>
                  <span class="info">ibra@gmail.com</span>
                </li>
              </ul>
            </div><!-- end .box-tab -->

            <div class="box-tab">
              <ul>
                <li>
                  <span class="title">Organisasi</span>
                  <span class="info">OSIS, PMR, Pramuka</span>
                </li>
                <li>
                  <span class="title">Hobi</span>
                  <span class="info">Membaca, Futsal, Menulis, Fotografi</span>
                </li>
              </ul>
            </div><!-- end .box-tab -->

          </div><!-- end #tab-infoumum -->

          <div role="tabpanel" class="tab-pane" id="tab-akademisi">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
          <div role="tabpanel" class="tab-pane" id="tab-donatur">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
      </div><!-- end .container -->
    </div><!-- end .student-tab -->

    <div class="student-related">
      <div class="container">
        <h3>Related Students</h3>
        {% include "partials/student/student-related.html" %}
      </div><!-- end .container -->
    </div><!-- end .student-related -->

  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
