{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="page">
    <div class="intro-page text-center">
      <div class="container">
        <h2 class="heading-section">Blog</h2>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div><!-- end .container -->
    </div><!-- end .intro-page -->

    <div class="container">
      <div class="content-search">
        <form action="#">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h3>Filter berdasarkan</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <select>
                <option>Terbaru</option>
                <option>1</option>
                <option>2</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <input type="text" name="search" placeholder="Search">
            </div>
          </div><!-- end .row -->
        </form>
      </div><!-- end .content-saerch -->

      <div class="blog-list">
        {% include "partials/blog/blog-list.html" %}
      </div><!-- end .student-list -->

      <div class="text-center">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>

    </div><!-- end .container -->
  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
