{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="homepage">

    <section class="home-slider">
      <div id="slider-main" class="owl-carousel">
        <div class="owl-slide">
          <div class="image-slide" style="background-image: url('asset/img/building.jpg')"></div>
          <div class="container">
            <div class="text-outer">
              <div class="inner-text">
                <h2>Cita Siswa</h2>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
              </div><!-- end .inner-text -->
            </div><!-- end .text-outer -->
          </div><!-- end .container -->
        </div>
      </div><!-- #slider-main -->

      <div class="info-number text-center">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>1001</h3>
                <p>Siswa</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>1001</h3>
                <p>Donatur</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>200 Jt</h3>
                <p>Donasi</p>
              </div>
            </div><!-- end .row -->
          </div><!-- end .inner -->
        </div><!-- end .container -->
      </div><!-- end .info-number -->
    </section><!-- end .home-slider -->

    <section class="home-student">
      <div class="container">
        <h2 class="heading-section">Siswa Pilihan</h2>
        {% include "partials/homepage/home-student.html" %}
        <div class="box-link">
          <a href="page-liststudent.html" class="btn-border">Semua</a>
        </div><!-- end .box-link -->
      </div><!-- end .container -->
    </section><!-- end .home-student -->

    <section class="home-news">
      <div class="container">
        <h2 class="heading-section">Berita</h2>
        {% include "partials/homepage/home-news.html" %}
        <div class="box-link">
          <a href="page-news.html" class="btn-border">Semua</a>
        </div><!-- end .box-link -->
      </div><!-- end .container -->
    </section><!-- end .home-news -->

    <section class="home-download text-center">
      <div class="container">
        <h2>Download CitaSiswa App!</h2>
        <p>Download Applikasi CitaSiswa di HP anda</p>
        <ul class="applogo">
          <li><img src="asset/img/GooglePlay.png" alt="" class="img-responsive"></li>
          <li><img src="asset/img/AppStore.png" alt="" class="img-responsive"></li>          
        </ul><!-- end .applogo -->
      </div><!-- end .container -->
    </section><!-- end .home-download -->
  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
