{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}

  {% block content %} {% endblock %}
  <div id="content" class="page contact">

    <div class="intro-page text-center">
      <div class="container">
        <h2 class="heading-section">Contact Us</h2>
        <p class="call">Call Us at : 021 001 002</p>
        <p>Feel Free</p>
      </div><!-- end .container -->
    </div><!-- end .intro-page -->

    <div class="page-inner">
      <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="contact-image">
            <img src="asset/img/TypeWriter.png" alt="" class="img-responsive">
          </div>
        </div><!-- end col-md-6 col-sm-6 -->
        <div class="col-md-6 col-sm-6">
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Nama">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Subject">
            </div>
            <div class="form-group">
              <textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-standard btn-full">Send</button>
          </form>
        </div><!-- end col-md-6 col-sm-6 -->
      </div><!-- end .row -->

    </div><!-- end .container -->
    </div><!-- end .page-inner -->
  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
