{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-studash">
    {% include "dashboard/partials/header-menu.html" %}


    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-studash">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Identitas Diri</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="data-list">
                      <div class="data-image">
                        <img src="asset/img/6.jpg" alt="" class="img-responsive">
                      </div><!-- end .data-image -->
                      <div class="data-info">
                        <div class="info">
                          <h3>Ibrahim Almadani</h3>
                          <p>SMA 1 Bantul</p>
                        </div><!-- end .info -->
                      </div><!-- end .data-info -->
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Latar Keluarga</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="info-list">
                      <p><strong>Ayah</strong></p>
                      <p>Ayah Ibrahim</p>
                    </div>
                    <div class="info-list">
                      <p><strong>Ibu</strong></p>
                      <p>Ibu Ibrahim</p>
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Pendidikan Sekarang</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="info-list">
                      <p><strong>Pendidikan Sekarang</strong></p>
                      <p>Sekolah Menengah Atas</p>
                    </div>
                    <div class="info-list">
                      <p><strong>Nama Sekolah/Perguruan Tinggi</strong></p>
                      <p>SMA 1 Bantul</p>
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Riwayat Pendidikan</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="info-list">
                      <p><strong>Sekolah Dasar (SD)</strong></p>
                      <p>SDN Kasihan</p>
                    </div>
                    <div class="info-list">
                      <p><strong>Sekolah Menengah Pertama (SMP)</strong></p>
                      <p>SMP 1 Bantul</p>
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Penghargaan</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="info-list">
                      <p><strong>Nama Penghargaan</strong></p>
                      <p>Karya Tulis Ilmiah</p>
                    </div>
                    <div class="info-list">
                      <p><strong>Bidang</strong></p>
                      <p>IPA</p>
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Pengeluaran Bulanan</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="info-list">
                      <p><strong>Tempat Tinggal</strong></p>
                      <p>Rumah Orang Tua</p>
                    </div>
                    <div class="info-list">
                      <p><strong>Biaya</strong></p>
                      <p>-</p>
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Tentang Anda</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">
                    <div class="info-list">
                      <p><strong>Mengapa anda berminat mengikuti Program beasiswa ini?</strong></p>
                      <p>Karena saya membutuhkan dana untuk biaya kuliah, dengan begitu bisa mewujudkan cita-cita saya</p>
                    </div>
                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">

                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Lampiran</h3>
                    <span class="pull-right clickable"><i class="icon-down-open-big"></i></span>
                  </div>
                  <div class="panel-body">

                  </div><!-- end .panel-body -->
                </div><!-- end .panel -->

              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->

          </div><!-- end .row -->
        </div><!-- end .outer-studash -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
