{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-myreport">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-myreport">
          <h4 class="page-heading">Laporanku</h4>

          <div class="inner-wrap">

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Semester</th>
                    <th>Nilai</th>
                    <th>Lampiran</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>I</td>
                    <td>7,2</td>
                    <td><i class="icon-down-open-big"></i> Lihat</td>
                  </tr>
                  <tr>
                    <td>II</td>
                    <td>7,2</td>
                    <td><i class="icon-down-open-big"></i> Lihat</td>
                  </tr>
                  <tr>
                    <td>III</td>
                    <td>7,2</td>
                    <td><i class="icon-down-open-big"></i> Lihat</td>
                  </tr>
                  <tr>
                    <td>IV</td>
                    <td>7,2</td>
                    <td><i class="icon-down-open-big"></i> Lihat</td>
                  </tr>
                  <tr>
                    <td>V</td>
                    <td>7,2</td>
                    <td><i class="icon-down-open-big"></i> Lihat</td>
                  </tr>
                  <tr>
                    <td>VI</td>
                    <td>7,2</td>
                    <td><i class="icon-down-open-big"></i> Lihat</td>
                  </tr>
                </tbody>
              </table><!-- end .table -->
            </div><!-- end .table-responsive -->
            <form action="" class="margin-topmedium">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Semester</label>
                    <select name="" id="" class="form-control">
                      <option value="">1</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Rata-rata Semester/IP Semester</label>
                    <input type="text" class="form-control" id="">
                  </div>
                </div>
              </div><!-- end .row -->
              <div class="form-group">
                <label for="">Scan Raport/Kartu Hasil Studi</label>
                <div class="input-group">
                  <input type="text" class="form-control" readonly>
                  <label class="input-group-btn">
                    <span class="btn btn-primary">
                      <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                    </span>
                  </label>
                </div>
              </div><!-- end .form-group -->
              <div class="button-form margin-topmedium">
                <button type="submit" class="btn btn-standard btn-common">Save</button>
              </div><!-- end .button-form -->
            </form>

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-myreport -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
