{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-files">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-files">
          <h4 class="page-heading">Berkas Siswa</h4>

          <div class="inner-wrap">
            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>Siswa SMA 1 Bantul</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->
            <div class="student-infofiles">
              <div class="info-bio">

                <div class="bio-desc">
                  <h4>Tentang Siswa</h4>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div><!-- end .bio-desc -->

                <div class="bio-note">
                  <ul>
                    <li>
                      <span class="badges"><img src="asset/img/placeholder.png" alt=""></span>
                      <span class="note">Bantul, Yogyakarta</span>
                    </li>
                    <li>
                      <span class="badges"><img src="asset/img/premium-badge.png" alt=""></span>
                      <span class="note">Program Unggulan</span>
                    </li>
                  </ul>
                </div><!-- end .bio-note -->

                <div class="bio-progress">
                  <h4>Progress Beasiswa</h4>
                  <div class="progress">
                    <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="number">
                    <ul>
                      <li>
                        <span class="title">49%</span>
                        <span class="info">Terdanai</span>
                      </li>
                      <li>
                        <span class="title">Rp 2.500.000</span>
                        <span class="info">Dana Terkumpul</span>
                      </li>
                      <li>
                        <span class="title">11</span>
                        <span class="info">Donatur</span>
                      </li>
                    </ul>
                  </div>
                </div><!-- end .bio-progress -->
              </div><!-- end .info-bio -->
            </div><!-- end .student-files -->
            <div class="student-tabfiles">
              <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab-infoumum" aria-controls="tab-infoumum" role="tab" data-toggle="tab"><span>Informasi Umum</span></a></li>
                  <li role="presentation"><a href="#tab-akademisi" aria-controls="tab-akademisi" role="tab" data-toggle="tab"><span>Akademisi</span></a></li>
                  <li role="presentation"><a href="#tab-donatur" aria-controls="tab-donatur" role="tab" data-toggle="tab"><span>Donatur</span></a></li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="tab-infoumum">
                    <div class="box-tab double">
                      <ul>
                        <li>
                          <span class="title">Kelamin</span>
                          <span class="info">Laki-laki</span>
                        </li>
                        <li>
                          <span class="title">No. Telpon</span>
                          <span class="info">+62 856 0001 0002</span>
                        </li>
                        <li>
                          <span class="title">Umur</span>
                          <span class="info">17</span>
                        </li>
                        <li>
                          <span class="title">Email</span>
                          <span class="info">ibra@gmail.com</span>
                        </li>
                      </ul>
                    </div><!-- end .box-tab -->

                    <div class="box-tab">
                      <ul>
                        <li>
                          <span class="title">Organisasi</span>
                          <span class="info">OSIS, PMR, Pramuka</span>
                        </li>
                        <li>
                          <span class="title">Hobi</span>
                          <span class="info">Membaca, Futsal, Menulis, Fotografi</span>
                        </li>
                      </ul>
                    </div><!-- end .box-tab -->

                  </div><!-- end #tab-infoumum -->

                  <div role="tabpanel" class="tab-pane" id="tab-akademisi">
                    {% include "dashboard/partials/tab-akademisi.html" %}
                  </div>
                  <div role="tabpanel" class="tab-pane" id="tab-donatur">
                    {% include "dashboard/partials/tab-donatur.html" %}
                  </div>
                </div><!-- end .tab-content -->

              </div><!-- end .container -->
            </div><!-- end .student-tab -->
          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
