{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-announce">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-announce">
          <h4 class="page-heading">Pemberitahuan</h4>

          <div class="inner-wrap">
            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>5 Hours Ago</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>5 Hours Ago</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>5 Hours Ago</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>5 Hours Ago</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>5 Hours Ago</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->
          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
