{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-paydonate">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-paydonate">
          <h4 class="page-heading">Bayar Donasi</h4>

          <div class="inner-wrap">
            <form action="">

              <div class="to-all">
                <label for="" class="chck">
                  <input type="checkbox" name="select-all" id="select-all" />
                </label>
                <p>Pilih Semua</p>
              </div><!-- end .to-all -->


              <div class="box-donate">
                <label for="" class="chck">
                  <input type="checkbox" name="checkbox-1" id="checkbox-1" />
                </label>
                <div class="data-list">
                  <div class="data-image">
                    <img src="asset/img/6.jpg" alt="" class="img-responsive">
                  </div><!-- end .data-image -->
                  <div class="data-info">
                    <div class="info">
                      <h3>Ibrahim Almadani</h3>
                      <p>Siswa SMAN 1 Bantul</p>
                      <p><strong>Rp. 12.000.000</strong></p>
                      <a href="#"><strong>Ubah</strong></a>
                    </div><!-- end .info -->
                  </div><!-- end .data-info -->
                </div><!-- end .data-list -->

                <div class="donate-action">
                  <div>
                    <a href="#"><i class="icon-trash"></i></a>
                  </div>
                  <div>
                    <a href="#" class="btn-standard btn-common">Bayar</a>
                  </div>
                </div><!-- end .donate-action -->

                <div class="donate-note">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="icon-edit-modify-streamline"></i></span>
                    <input class="form-control">
                  </div>
                </div><!-- end .donate-note -->
              </div><!-- end .box-donate -->

              <div class="box-donate">
                <label for="" class="chck">
                  <input type="checkbox" name="checkbox-2" id="checkbox-2" />
                </label>
                <div class="data-list">
                  <div class="data-image">
                    <img src="asset/img/6.jpg" alt="" class="img-responsive">
                  </div><!-- end .data-image -->
                  <div class="data-info">
                    <div class="info">
                      <h3>Ibrahim Almadani</h3>
                      <p>Siswa SMAN 1 Bantul</p>
                      <p><strong>Rp. 12.000.000</strong></p>
                      <a href="#"><strong>Ubah</strong></a>
                    </div><!-- end .info -->
                  </div><!-- end .data-info -->
                </div><!-- end .data-list -->

                <div class="donate-action">
                  <div>
                    <a href="#"><i class="icon-trash"></i></a>
                  </div>
                  <div>
                    <a href="#" class="btn-standard btn-common">Bayar</a>
                  </div>
                </div><!-- end .donate-action -->

                <div class="donate-note">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="icon-edit-modify-streamline"></i></span>
                    <input class="form-control"> </div>
                </div><!-- end .donate-note -->
              </div><!-- end .box-donate -->

              <div class="box-donate">
                <label for="" class="chck">
                  <input type="checkbox" name="checkbox-3" id="checkbox-3" />
                </label>
                <div class="data-list">
                  <div class="data-image">
                    <img src="asset/img/6.jpg" alt="" class="img-responsive">
                  </div><!-- end .data-image -->
                  <div class="data-info">
                    <div class="info">
                      <h3>Ibrahim Almadani</h3>
                      <p>Siswa SMAN 1 Bantul</p>
                      <p><strong>Rp. 12.000.000</strong></p>
                      <a href="#"><strong>Ubah</strong></a>
                    </div><!-- end .info -->
                  </div><!-- end .data-info -->
                </div><!-- end .data-list -->

                <div class="donate-action">
                  <div>
                    <a href="#"><i class="icon-trash"></i></a>
                  </div>
                  <div>
                    <a href="#" class="btn-standard btn-common">Bayar</a>
                  </div>
                </div><!-- end .donate-action -->

                <div class="donate-note">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="icon-edit-modify-streamline"></i></span>
                    <input class="form-control"> </div>
                </div><!-- end .donate-note -->
              </div><!-- end .box-donate -->

            </form>

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
