{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-awards">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-awards">
          <h4 class="page-heading">Penghargaan</h4>

          <div class="inner-wrap">
            <div class="awards-form">
              <form action="#">

                <div class="form-group">
                  <label for="">Nama Penghargaan</label>
                  <input type="text" class="form-control" id="">
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Bidang</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Level Penghargaan</label>
                      <select name="" id="" class="form-control">
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Peringkat</label>
                      <select name="" id="" class="form-control">
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Penyelenggara</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Tahun Event</label>
                      <select name="" id="" class="form-control">
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Surat Penghasilan Orang Tua</label>
                      <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <label class="input-group-btn">
                          <span class="btn btn-primary">
                            <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                          </span>
                        </label>
                      </div>
                    </div><!-- end .form-group -->
                  </div>
                </div><!-- end .row -->

                <div class="button-form margin-topmedium">
                  <button type="submit" class="btn btn-standard btn-common">Save</button>
                </div><!-- end .button-form -->

              </form>
            </div><!-- end .awards-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-awards -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
