{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-donorstatus">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-donorstatus">
          <h4 class="page-heading">Status Donasi</h4>

          <div class="inner-wrap">
            <div class="box-status">
              <div class="row">
                <div class="col-md-6">
                  <div class="box-chart">
                    <div class="chart" data-percent="55"><span>55%</span></div>
                  </div><!-- end .box-chart -->
                </div>
                <div class="col-md-6">
                  <div class="status-number">
                    <div class="info">
                      <p><strong>Rp. 2.500.000</strong></p>
                      <p>Donasi</p>
                    </div>
                    <div class="info">
                      <p><strong>11</strong></p>
                      <p>Donatur</p>
                    </div>
                    <div class="info">
                      <p><strong>41</strong></p>
                      <p>Viewer</p>
                    </div>
                  </div><!-- end .status-number -->
                </div>
              </div><!-- end .row -->

              <div class="box-person">
                <div class="data-list">
                  <div class="data-image">
                    <img src="asset/img/6.jpg" alt="" class="img-responsive">
                  </div><!-- end .data-image -->
                  <div class="data-info">
                    <div class="info">
                      <h3>Ibrahim Almadani</h3>
                      <p>"Lorem ipsum dolor sit amer"</p>
                    </div><!-- end .info -->
                  </div><!-- end .data-info -->
                </div><!-- end .data-list -->
                <div class="data-list">
                  <div class="data-image">
                    <img src="asset/img/6.jpg" alt="" class="img-responsive">
                  </div><!-- end .data-image -->
                  <div class="data-info">
                    <div class="info">
                      <h3>Ibrahim Almadani</h3>
                      <p>"Lorem ipsum dolor sit amer"</p>
                    </div><!-- end .info -->
                  </div><!-- end .data-info -->
                </div><!-- end .data-list -->
              </div><!-- end .box-person -->
            </div><!-- end .box-status -->


          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-donorstatus -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
