{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-family">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-family">
          <h4 class="page-heading">Latar Keluarga</h4>

          <div class="inner-wrap">
            <div class="family-form">
              <form action="#">

                <div class="repeat-form">
                  <div class="data-list">
                    <div class="data-image">
                      <img src="asset/img/6.jpg" alt="" class="img-responsive">
                    </div><!-- end .data-image -->
                    <div class="data-info">
                      <div class="info">
                        <h3>Ayah Almadani</h3>
                        <p>Ayah</p>
                      </div><!-- end .info -->
                    </div><!-- end .data-info -->
                  </div><!-- end .data-list -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Alamat</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Nomor Telepon</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Pendidikan Terakhir</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Penghasilan per Bulan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Pekerjaan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Jumlah Tanggungan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                  </div><!-- end .row -->
                </div><!-- end .repeat-form -->

                <div class="repeat-form margin-topmedium">
                  <div class="data-list">
                    <div class="data-image">
                      <img src="asset/img/6.jpg" alt="" class="img-responsive">
                    </div><!-- end .data-image -->
                    <div class="data-info">
                      <div class="info">
                        <h3>Ibu Almadani</h3>
                        <p>Ibu</p>
                      </div><!-- end .info -->
                    </div><!-- end .data-info -->
                  </div><!-- end .data-list -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Alamat</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Nomor Telepon</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Pendidikan Terakhir</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Penghasilan per Bulan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Pekerjaan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Jumlah Tanggungan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                  </div><!-- end .row -->
                </div><!-- end .repeat-form -->

                <div class="button-form margin-topmedium">
                  <button type="submit" class="btn btn-standard btn-common">Save</button>
                  <button type="submit" class="btn btn-reverse btn-common">Tambahkan Daftar</button>
                </div><!-- end .button-form -->

              </form>
            </div><!-- end .family-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-family -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
