{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-education">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-education">
          <h4 class="page-heading">Pendidikan Sekarang</h4>

          <div class="inner-wrap">
            <div class="education-form">
              <form action="#">
                <div class="form-group">
                  <label for="">Pendidikan Sekarang</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Nama Sekolah/Perguruan Tinggi</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Jurusan</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Fakultas</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Kota</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">No. Pelajar/NIM</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Kelas/Semester</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Rata-rata Rapor/IPK</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-standard btn-common">Save</button>
              </form>
            </div><!-- end .profile-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
