{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-stufiles">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-stufiles">
          <h4 class="page-heading">Lampiran</h4>

          <div class="inner-wrap">
            <div class="stufiles-form">
              <form action="#">

                <div class="form-group">
                  <label for="">Surat Keterangan Kurang Mampu</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group">
                  <label for="">Surat Kelakuan Baik (SKCK)</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group">
                  <label for="">Surat Rekomendasi Pendidikan</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group">
                  <label for="">Scan Kartu Keluarga</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group">
                  <label for="">Scan KTP (Kalau Ada)</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group">
                  <label for="">Scan ID PElajar/Mahasiswa</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group">
                  <label for="">Surat Penghasilan Orang Tua</label>
                  <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <label class="input-group-btn">
                      <span class="btn btn-primary">
                        <i class="icon-down-open-big"></i> <input type="file" style="display: none;" multiple>
                      </span>
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="button-form margin-topmedium">
                  <button type="submit" class="btn btn-standard btn-common">Save</button>
                </div><!-- end .button-form -->

              </form>
            </div><!-- end .stufiles-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-stufiles -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
