{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-eduhistory">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-eduhistory">
          <h4 class="page-heading">Riwayat Pendidikan</h4>

          <div class="inner-wrap">
            <div class="educationhis-form">
              <form action="#">
                <div class="form-group">
                  <label for="">Sekolah Dasar (SD)</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Tahun Lulus</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">NEM</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div><!-- end .row -->
                <div class="form-group margin-topmedium">
                  <label for="">Sekolah Menengah Pertama (SMP)</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Tahun Lulus</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">NEM</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div>
                <div class="form-group margin-topmedium">
                  <label for="">Sekolah Menengah Atas (SMA)</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Tahun Lulus</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">NEM</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div><!-- end .row -->
                <button type="submit" class="btn btn-standard btn-common">Save</button>
              </form>
            </div><!-- end .educationhis-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-eduhistory -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
