{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-transhistory">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-transhistory">
          <h4 class="page-heading">Riwayat Transaksi</h4>

          <div class="inner-wrap">
            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p><span>20 Oktober 2017</span> | <span>Status : Transfered</span></p>
                  <p>Rp. 2.000.000</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
              <div class="data-image image-small pull-right">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p><span>20 Oktober 2017</span> | <span>Status : Transfered</span></p>
                  <p>Rp. 2.000.000</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
              <div class="data-image image-small pull-right">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p><span>20 Oktober 2017</span> | <span>Status : Transfered</span></p>
                  <p>Rp. 2.000.000</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
              <div class="data-image image-small pull-right">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p><span>20 Oktober 2017</span> | <span>Status : Transfered</span></p>
                  <p>Rp. 2.000.000</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
              <div class="data-image image-small pull-right">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
            </div><!-- end .data-list -->

            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p><span>20 Oktober 2017</span> | <span>Status : Transfered</span></p>
                  <p>Rp. 2.000.000</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
              <div class="data-image image-small pull-right">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
            </div><!-- end .data-list -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-transhistory -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
