{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-identity">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-identity">
          <h4 class="page-heading">Identitas Diri</h4>

          <div class="inner-wrap">
            <div class="data-list">
              <div class="data-image">
                <img src="asset/img/6.jpg" alt="" class="img-responsive">
              </div><!-- end .data-image -->
              <div class="data-info">
                <div class="info">
                  <h3>Ibrahim Almadani</h3>
                  <p>Laki-laki</p>
                </div><!-- end .info -->
              </div><!-- end .data-info -->
            </div><!-- end .data-list -->

            <div class="identity-form">
              <form action="#">
                <div class="form-group">
                  <label for="">Tempat Lahir</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Tanggal Lahir</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Alamat</label>
                  <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label for="">Anak Ke-</label>
                  <input type="text" class="form-control" id="">
                </div>
                <button type="submit" class="btn btn-standard btn-common">Save</button>
              </form>
            </div><!-- end .profile-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
