{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-setting">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-setting">
          <h4 class="page-heading">Pengaturan</h4>

          <div class="inner-wrap">
            <div class="box-setting">
              <span>
                <a href="page-donors-settingpayment.html" class="btn-standard btn-common">Metode Pembayaran</a>
              </span>
              <span>
                <a href="page-donors-settingpreferensi.html" class="btn-standard btn-common">Preferensi Penerima Beasiswa</a>
              </span>
            </div><!-- end .box-setting -->
          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
