{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-donors">
    {% include "dashboard/partials/header-menu.html" %}


    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-donors">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">
                <a href="#">
                  <img src="asset/img/dashboard/icon-profile.png" alt="" class="img-responsive">
                  <p>Profil</p>
                </a>
              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">
                <a href="#">
                  <img src="asset/img/dashboard/icon-riwayat.png" alt="" class="img-responsive">
                  <p>Riwayat Donasi</p>
                </a>
              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">
                <a href="#">
                  <img src="asset/img/dashboard/icon-berkas.png" alt="" class="img-responsive">
                  <p>Berkas Siswa</p>
                </a>
              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">
                <a href="#">
                  <img src="asset/img/dashboard/icon-donasi.png" alt="" class="img-responsive">
                  <p>Bayar Donasi</p>
                </a>
              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">
                <a href="#">
                  <img src="asset/img/dashboard/icon-pemberitahuan.png" alt="" class="img-responsive">
                  <p>Pemberitahuan</p>
                </a>
              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="box-thumb">
                <a href="#">
                  <img src="asset/img/dashboard/icon-pengaturan.png" alt="" class="img-responsive">
                  <p>Pengaturan</p>
                </a>
              </div><!-- end .box-thumb -->
            </div><!-- end .col-md-6 col-sm-6 -->
          </div><!-- end .row -->
        </div><!-- end .outer-dashboard -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
