{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-setting">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-setting">
          <h4 class="page-heading">Preferensi Penerima Beasiswa</h4>

          <div class="inner-wrap">
            <div class="setting-form center-block">
              <form action="#">
                <div class="form-group">
                  <label for="">Jenis Kelamin</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Tingkat Edukasi</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Jurusan</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Daerah</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Aktifitas Akademis</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Hobi</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Penghargaan</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-standard btn-full">Reset</button>
              </form>
            </div><!-- end .center-block -->
          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
