{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-monthly">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-monthly">
          <h4 class="page-heading">Pengeluaran Bulanan</h4>

          <div class="inner-wrap">
            <div class="monthlybudget-form">
              <form action="#">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Tempat Tinggal</label>
                      <select name="" id="" class="form-control">
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Biaya</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div><!-- end .row -->
                <div class="form-group">
                  <label for="">Sandang Pangan</label>
                  <input type="text" class="form-control" id="">
                </div>

                <h4 class="margin-topmedium"><strong>Biaya Sekolah</strong></h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">SPP</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Uang Seragam</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Uang Kegiatan</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Lain-lain</label>
                      <input type="text" class="form-control" id="">
                    </div>
                  </div>
                </div>
                <div class="form-group margin-topmedium">
                  <label for=""><strong>Total Biaya Bulanan</strong></label>
                  <input type="text" class="form-control" id="">
                </div>
                <button type="submit" class="btn btn-standard btn-common">Save</button>
              </form>
            </div><!-- end .monthlybudget-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-monthly -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
