{% include "dashboard/partials/header.html" %}

<body class="dashboard">
  <div id="content" class="container dash-about">
    {% include "dashboard/partials/header-menu.html" %}

    <div class="wrapper">
      <div class="left-col col-md-3">
        {% include "dashboard/partials/side-menu-student.html" %}
      </div>
      <div class="right-col col-md-9">
        <div class="outer-about">
          <h4 class="page-heading">Tentang Anda</h4>

          <div class="inner-wrap">
            <div class="about-form">
              <form action="#">
                <div class="form-group">
                  <label for="">Mengapa Anda berminat mengikuti program beasiswa ini?</label>
                  <textarea name="" class="form-control" id="" cols="20" rows="5" placeholder=""></textarea>
                </div>
                <div class="form-group">
                  <label for="">Mengapa Anda berminat mengikuti program beasiswa ini?</label>
                  <textarea name="" class="form-control" id="" cols="20" rows="5" placeholder=""></textarea>
                </div>
                <div class="form-group">
                  <label for="">Hobi (Minimal 2)</label>
                  <input type="text" class="form-control" id="">
                </div>

                <div class="repeat-form margin-medium">
                  <h4><strong>Organisasi</strong></h4>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Nama Organisasi</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div><!-- end .col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Bidang</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div><!-- end .col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Jabatan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div><!-- end .col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Deskripsi Jabatan</label>
                        <input type="text" class="form-control" id="">
                      </div>
                    </div><!-- end .col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Tahun Awal</label>
                        <select name="" id="" class="form-control">
                          <option value="">1</option>
                          <option value="">2</option>
                        </select>
                      </div>
                    </div><!-- end .col-md-6 -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Tahun Akhir</label>
                        <select name="" id="" class="form-control">
                          <option value="">1</option>
                          <option value="">2</option>
                        </select>
                      </div>
                    </div><!-- end .col-md-6 -->
                  </div><!-- end .row -->
                </div><!-- end .repeat-form -->

                <div class="button-form">
                  <button type="submit" class="btn btn-standard btn-common">Save</button>
                  <button type="submit" class="btn btn-reverse btn-common">Tambah Daftar Organisasi</button>
                </div><!-- end .button-form -->

              </form>
            </div><!-- end .about-form -->

          </div><!-- end .inner-wrap -->
        </div><!-- end .outer-profile -->
      </div><!-- end .right-col -->
    </div><!-- end .wrapper -->


  </div><!-- end .content -->


  {% include "partials/footer-script.html" %}

</body>
</html>
